*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    background: linear-gradient(to bottom right, #FF6200, #FCF805)
}
/*header image distortion is as a result of the camera used (the front facing
camera available on my smartphone) and not the result of code*/
body{
    background: linear-gradient(to top right, #FCF805, #FF6200); /*#FCF805;*/
    font-family:"Candara", sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section{
    /*width: 90%;*/
}
header section{
    flex: 4;
}
a{
    color:#30F;
}
img{    
    border:thick double #B5AED4;
    border-radius: 50%;
    width: 200px;
    max-width:30%;
    height: auto;
    /* to round just the corners do this:
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;*/
}
header img{
    display: block;
    flex: 1;
    margin: 0.5em;
}
footer {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;
}
ul > li{
    list-style: square inside;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
    clear: both;
}
header h3 p {
    text-align: justify;
    padding-right: 1em;
    padding-left: 1em;
    font-style: italic;
}
section.flex-container{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: baseline;
}
.flex-container div{
    margin: auto 10px;    
}
.biotext p{
    text-align: justify;
}
.bioclear{
    clear: both;
}
.left-half {
    /*position: absolute;*/
    margin: 10px 10px;
    float: left;
    width: 20%
}
.right-half {
    /*position: absolute;*/
    margin: 10px 10px;
    float: right;
    width: 75%;
}
.footer-left{
    /*text-align: left;
    margin-left: 2em*/
}
.footer-right{
    /*text-align: right;
    margin-right: 2em*/
}
.nonbiogradient{
    background: linear-gradient(to bottom, #FCF805, #FF6200)
}
#float-self{
    float: right;
}
#early-yrs{
    align-items: center
}

/*up vote
2
down vote
accepted
Your classes .left and .right both have width 100%. This means your divs are trying to get the same space in their container, so one will get below the other because they don't fit on the same row.

If I understand correctly your problem, you can fix it by changing the following classes:

.left {
    float:left;
    min-width:300px;
    max-width:900px;
    width:50%;
}

.right {
    float:right;
    min-width:300px;
    max-width:900px;
    width:50%;
}
I changed the width to 50% for this classes.*/


/*.biorightfloat{
    flex: 1;
    float: right;
    margin: 1% 1%;
    width: 82%;
}*/



/*ul > li:before{
    content: "\261e"
}
*/