body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
h6 {
    font-style: italic;
}
a {
    color: darkblue
}
form {
    border-top: 2px solid darkblue;
}
p {
    margin-top: 1px;
    margin-bottom: 1px;
    padding-top: 1px;
    padding-bottom: 1px
}
.border {
    border-top: 2px dotted salmon;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-top: 1px;
    padding-bottom: 1px
}
