{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Flutter - Thoughts that Fly</title>
        <link rel="stylesheet" type="text/css" href="{% static 'flutter/style.css' %}">
    </head>
    <body>
        <!-- add new header -->
        <header>
        <h1> Ten (10) Most Recent Flutts </h1>
        <h2> Click on name to bring up flutts exclusive to that user</h2>
        </header>
        <!-- /add new header -->
        <!-- flutt list -->
        {% for flutt in flutts %}
        <!-- individual flutt -->
        <div class="border">
            <p>
                <a href="{% url 'user_search' flutt.user %}">{{flutt.user}} - </a>
                <span>{{flutt.text}} - </span>
                <span>{{flutt.date_n_time}}</span>
            </p>
        </div>
        <!-- /individual flutt -->
        {% endfor %}
        <!-- /flutt list -->
        <!-- create new -->
        <div class="border">
            <h3>Make New Flutt.  Flutt is Good.</h3>
            <a type="submit" href="{% url 'post_flutt' %}">Clickity Button</a>
        </div>
        <!-- /create new -->
        <!-- search text -->
        <form action="{% url 'search_flutt' %}" method="get">
            {% csrf_token %}
            <h3>Find Flutt.  Feel Powerful</h3>
            <label>
                Enter your search word here:
                <input placeholder="search" name="search_entry">
            </label>
            <input type="submit">
        </form>
        <!-- /search text-->
        <script src="https://cdn.jsdelivr.net/lodash/4.11.2/lodash.js"></script>
        <script src="http://code.jquery.com/jquery-2.2.3.js"></script>
    </body>
</html>
