{% load staticfiles %}
<!-- text to paste into index.html later -->
<form action="{% url 'search_flutt' search_entry %}" method="get">
    {% csrf_token %}
    <h3>Find Flutt.  Feel Powerful</h3>
    <label>
        Enter your search word here:
        <input placeholder="search" name="search_entry">
    </label>
    <input type="submit">
</form>
<!-- /text to paste into index.html later -->


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Your search returned:
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'flutter/style.css' %}">
    </head>
    <body>
        <!-- add new header -->
        <header>
        <h1> Ten (10) Most Recent Flutts for specific user</h1>
        </header>
        <!-- /add new header -->
        <!-- flutt list -->
        {% for flutt in flutts %}
        <!-- individual flutt -->
        <div>
            <p>
                <span>{{flutt.user}}</span>
                <span>{{flutt.text}} - </span>
                <span>{{flutt.date_n_time}}</span>
            </p>
        </div>
        <!-- /individual flutt -->
        {% endfor %}
        <!-- /flutt list -->
        <div>
            <a href="{% url 'index' %}">Go Home</a>
        </div>
        <script src="https://cdn.jsdelivr.net/lodash/4.11.2/lodash.js"></script>
        <script src="http://code.jquery.com/jquery-2.2.3.js"></script>
    </body>
</html>
