{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Ten User Flutts Page</title>
        <link rel="stylesheet" type="text/css" href="{% static 'flutter/style.css' %}">
    </head>
    <body>
        <!-- add new header -->
        <header>
        <h1> Ten (10) Most Recent Flutts for specific user</h1>
        </header>
        <!-- /add new header -->
        <!-- flutt list -->
        {% for flutt in flutts %}
        <!-- individual flutt -->
        <div>
            <p>
                <span>{{flutt.user}}</span>
                <span>{{flutt.text}} - </span>
                <span>{{flutt.date_n_time}}</span>
            </p>
        </div>
        <!-- /individual flutt -->
        {% endfor %}
        <!-- /flutt list -->
        <div>
            <a href="{% url 'index' %}">Go Home</a>
        </div>
        <script src="https://cdn.jsdelivr.net/lodash/4.11.2/lodash.js"></script>
        <script src="http://code.jquery.com/jquery-2.2.3.js"></script>
    </body>
</html>
