body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
h6 {
    font-style: italic;
}
a {
    color: darkblue
}
form {
    border-top: thick double blue;
    margin-top: 1em
}
div a {
    border-top: thick double blue;
    padding-top: 1em
}
